/*
 * Globals
 */

body {
    background-color:#f5f5f5;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: norm<ul>
		<li><p>You can easily change style with this file if you want.</p></li>
		<li><p>Custom style used with sky prefix.</p></li>
		<li><p>You can change body background color</p></li>
		<li><p>You can header and footer color also from here.</p></li>
	</ul>al;
    color: #333;
}
a {
    color: #007dc2;
}
/*** End global ***/

.sky-box {
    background-color:#fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.input-group-addon {
    background-color: #007dc2;
    color: #fff;
    border: 1px solid #007dc2;
}

.sky-btn {
    display : none;
}

.sky-page-header {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.sky-category{
    list-style:none;
    text-transform: capitalize;
    text-align:left !important;
}

.sky-category a {
    text-decoration: none;
}

.sky-img {
    -webkit-transition: width .5s, height .5s, -webkit-transform .5s; /* Safari */
    transition: width .5s, height .5s, transform .5s;
}

.sky-img:hover {
    -webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg); /* Standard syntax */
}

.sky-img-bg {
    width:100%;
     -webkit-transition: width .5s, height .5s, -webkit-transform .5s; /* Safari */
    transition: width .5s, height .5s, transform .5s;
}

.sky-cart-summery {
    float: right !important;
    margin-top: 9px;
}

.input-group-addon {
    background-color:#5bc0de;
    color:#fff;
}

.sky-navbar {
    background-color:#fff;
    padding: 10px 0px;
}

.sky-logo-img {
    height:60px;
    padding-left:5%;
}

.thumbnail:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sky-thanks {
    padding: 10%;
}

.sky-page {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
}


/*
 * Social icons
 */
.gplus {
    color: #c21f25;
}

.twitter {
    color: #3cf;
}

.facebook {
    color: #3b5998;
}

.pinterest {
    color: #C92228;
}

.instagram {
    color: #cd4378;
}

a .icon-stack, a .icon-spin {
    display: block;
    text-decoration: none;
    float: left;
}

/*** End social ***/


/*
 * Footer
 */
 .sky-footer {
    margin-bottom:0;
    padding: 20px 0;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
}

.sky-footer p:last-child {
    margin-bottom: 0;
}

.sky-footer h3 {
    color:#333;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
}

.sky-twitter:hover {
    color: #3cf;
}

.sky-facebook:hover {
    color: #3b5998;
}

.sky-pinterest:hover {
    color: #C92228;
}

.sky-gplus:hover {
    color: #c21f25;
}

.sky-instagram:hover {
    color: #cd4378;
}

.sky-social {
    padding-left: 16%;
}

/*** End footer ***/

/*
 * Media query for phone and tablet device
 */
@media only screen and (max-width: 500px) {
    .sky-box {
        padding: 0;
    }
    .sky-cart-summery {
        float: right !important;
        margin-top: 18px;
    }
    .sky-thumbnail {
        padding-right: 0px;
        padding-left: 0px;
    }

    .sky-btn {
         display: block;
    }

    .table {
        table-layout: fixed;
        word-break: break-all;
    }

    .table-action {
        width: 10%;
    }

    .sky-social {
        padding-left: 16%;
        font-size: 12px;
    }
    .sky-page {
        margin: 10px 14px;
        padding: 15px;
    }
    .sky-banner {
        width: 100%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .sky-thumbnail {
        padding-right: 5px;
        padding-left: 0px;
    }

    .sky-social {
        padding-left: 33%;
    }

    .sky-page {
        margin: 10px 14px;
    }

    .sky-banner {
        width: 100%;
        height: 300px;
    }
}