<nav class="navbar sky-navbar" ng-controller="ProductController">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="home"><img class="sky-logo-img" src="img/skystore.png"></a>
        </div>
        <a ui-sref="cart">
            <ngcart-summary></ngcart-summary>
        </a>
        <form class="navbar-form navbar-right">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="vm.search" placeholder="Search">
            </div>
        </form>
    </div>
</nav>
