<!-- *** PAGES MENU ***
_________________________________________________________ -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Pages</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li><a ui-sref="about">About us</a></li>
            <li><a ui-sref="contact">Contact page</a></li>
            <li><a ui-sref="faq">FAQ</a></li>
            <li><a ui-sref="conditions">Term and Conditions</a></li>
        </ul>
    </div>
</div><!-- *** PAGES MENU END *** -->
<div class="">
    <img src="img/best_sales.jpg" alt="sales 2014" class="img-responsive sky-banner">
</div>