<div ng-include="'template/includes/header.html'"></div>
<div class="container">
        <div class="col-md-3">
            <div ng-include="'template/includes/pages-sidebar.html'"></div>
        </div>
        <div class="col-md-9 sky-page">

            <div><h1>About us</h1>
                <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
                <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer posuere erat a ante.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer posuere erat a ante.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer posuere erat a ante.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer posuere erat a ante.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer posuere erat a ante.</p>
                <br>
            </div>
    </div>
</div>
<div ng-include="'template/includes/footer.html'"></div>