<div ng-include="'template/includes/header.html'"></div>
<div class="container">
    <div class="col-md-3">
        <div ng-include="'template/includes/pages-sidebar.html'"></div>
    </div>
    <div class="col-md-9 sky-page">
        <div><h1>Term and Conditions</h1>

            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
            <ul>
                <li>The Intellectual Property disclosure will inform users that your website, logo and visuals and other
                    content you created is your property and protected by copyright laws
                </li>
                <br>
                <li>A Termination clause will inform users that their accounts on your website (or their access to your
                    website, if they don’t have an account) can be terminated in case of abuses
                </li>
                <br>
                <li>A Termination clause will inform users that their accounts on your website (or their access to your
                    website, if they don’t have an account) can be terminated in case of abuses
                </li>
                <br>
                <li>A Termination clause will inform users that their accounts on your website (or their access to your
                    website, if they don’t have an account) can be terminated in case of abuses
                </li>
                <br>
                <li>A Termination clause will inform users that their accounts on your website (or their access to your
                    website, if they don’t have an account) can be terminated in case of abuses
                </li>
                <br>
                <li>A Governing Law informs users which country’s laws governs the agreement. This is the country in which
                    your company is headquartered or the country from which you operate your web site.
                </li>
                <br>
                <li>A Links To Other Web Sites clause informs users that you are not responsible for any third party web
                    sites that you link to from your website, and that users are responsible for reading these third
                    parties’ own Terms and Conditions or Privacy Policies.
                </li>
                <br>
            </ul>

        </div>
    </div>
</div>
<div ng-include="'template/includes/footer.html'"></div>