<div ng-include="'template/includes/header.html'"></div>
<div class="container">
        <div class="col-md-3">
            <div ng-include="'template/includes/pages-sidebar.html'"></div>
        </div>
        <div class="col-md-9 sky-page">
            <div><h1>Contact</h1>
                <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
                <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>
                <hr>
                <div class="row">
                    <div class="col-sm-4"><h3><i class="icon-map-marker"></i> Address</h3>
                        <p>13/25 New Avenue<br>New Heaven<br>45Y 73J<br>England<br><strong>Great Britain</strong></p></div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4"><h3><i class="icon-phone"></i> Call center</h3>
                        <p class="text-muted">This number is toll free if calling from Great Britain otherwise we advise you to
                            use the electronic form of communication.</p>
                        <p><strong>+33 555 444 333</strong></p></div><!-- /.col-sm-4 -->
                    <div class="col-sm-4"><h3><i class="icon-envelope"></i> Electronic support</h3>
                        <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing
                            system.</p>
                        <ul>
                            <li><strong><a href="mailto:">info@fakeemail.com</a></strong></li>
                            <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
                        </ul>
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
                <hr>
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d912.1096491781233!2d90.4006894881332!3d23.874061225384516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDUyJzI2LjYiTiA5MMKwMjQnMDQuNSJF!5e0!3m2!1sen!2sbd!4v1459066290384" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <hr>
                <h2>Contact form</h2>
                <form class="form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstname">Firstname</label>
                                <input class="form-control" id="firstname" required></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">Lastname</label>
                                <input class="form-control" id="lastname" required></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input class="form-control" id="subject" required></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea id="message" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i class="icon-envelope-alt"></i> Send message</button>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </form>
            </div>
    </div>
</div>
<div ng-include="'template/includes/footer.html'"></div>