<div ng-include="'template/includes/header.html'"></div>
<div class="container">
        <div class="col-md-3">
            <div ng-include="'template/includes/pages-sidebar.html'"></div>
        </div>
        <div class="col-md-9 sky-page">
            <div>
                <h1>FAQ</h1>
                <ol>
                    <li>
                        <div class="list-group">

                            <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-group">
                            <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-group">
                            <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-group">
                            <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-group">
                            <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </div>
                    </li><li>
                        <div class="list-group">
                            <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-group">
                            <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </div>
                    </li><li>
                        <div class="list-group">
                            <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </div>
                    </li>

                </ol>
            </div>
    </div>
</div>
<div ng-include="'template/includes/footer.html'"></div>