<div ng-include="'template/includes/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3"><!-- Right sidebar-->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Price Range
                    <button class="btn btn-xs btn-danger pull-right" ng-click="vm.resetPrice(vm.minRangeSlider)">
                        <i class="icon-times-circle"></i> Reset
                    </button>
                </div>
                <div class="panel-body">
                    <rzslider rz-slider-model="vm.minRangeSlider.minValue" rz-slider-high="vm.minRangeSlider.maxValue"
                              rz-slider-options="vm.minRangeSlider.options"></rzslider>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" >
                    <h3 class="panel-title">Category
                        <span class="pull-right sky-btn" data-toggle="collapse" data-target="#toggle-category" aria-expanded="false"><i class="fa fa-angle-double-down"></i></span>
                    </h3>
                </div>
                <div class="collapse navbar-collapse" id="toggle-category">
                <div class="panel-body">


                    <ul class="nav nav-pills nav-stacked">
                        <li><a ui-sref="home">All</a></li>
                    </ul>
                    <ul class="nav nav-pills nav-stacked sky-category" ng-repeat="item in vm.categories | unique:'category'">
                        <li><a ui-sref=".category({productCat: item.category})">{{item.category}}</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div><!-- End right sidebar-->
        <div ui-view>
        <div class="col-md-9">
            <div class="alert alert-warning sky-box" ng-show="(vm.products | filter:vm.filterRange).length==0">
                <h3>Opps! No product match. Try another.</h3>
            </div>
            <div class="col-md-4 sky-thumbnail"
                 ng-repeat="item in filteredlist = (vm.products | filter:vm.filterRange).slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage)) ">
                <div class="thumbnail">
                    <img class="sky-img" ng-src="img/{{item.src}}" alt="...">
                    <div class="caption">
                        <h3 class="lead">{{ item.name }}</h3>
                        <small><strong>{{ item.category }}</strong></small>
                        <h4>{{ item.price | currency }}</h4>
                        <p>{{ item.description }}</p>
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <a ui-sref="detail({productID: item.id})" class="btn btn-sm btn-success">Details</a>
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <ngcart-addtocart id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}"
                                                  quantity="1" data="item">Add to cart
                                </ngcart-addtocart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 pull-right" ng-show="(vm.products | filter:vm.filterRange).length>vm.itemsPerPage">
                <uib-pagination total-items='(vm.products | filter:vm.filterRange).length' items-per-page="vm.itemsPerPage"
                                ng-model="vm.currentPage"></uib-pagination>
            </div>
        </div>
    </div>
    </div><!--End container-->
</div>
<div ng-include="'template/includes/footer.html'"></div>