<div ng-include="'template/includes/header.html'"></div>
<div class="container sky-box sky-thanks">
    <div class="text-center">
        <img class="img" src="img/check.png" alt="Thank you">
        <h1><strong>You are all set</strong></h1>
        <p class="lead">Thanks for being awesome, <br> We hope you enjoy your purchase!</p>
    </div>
</div>
<div ng-include="'template/includes/footer.html'"></div>
