<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
</div>

<div ng-show="attrs.id">
    <div>
        <span ng-show="quantityMax" class="col-md-6 col-xs-4">
            <select name="quantity" id="quantity" ng-model="q" class="form-control"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
        <a class="btn btn-sm btn-danger pull-right" ng-show="inCart()" ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </div>
</div>