<!-- **Stripe checkout**
------------------------------------------------->
<div ng-if="service=='stripe'">

    <form action="#/thanks">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_YEh5nagWaoDB6b2JYA9lTyh9"
        data-image="https://s3.amazonaws.com/stripe-uploads/acct_17sAntETH5Zb3Enfmerchant-icon-1459322704825-skystore.png"
        data-name="Mohammad Jakir Hossain"
        data-description="2 widgets"
        data-amount="{{ ngCart.totalCost()*100 }}"
        data-locale="auto">
      </script>
    </form>

</div>

<!-- **Paypal Checkout**
------------------------------------------------->
<div ng-if="service=='paypal'">

    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
        <input type="hidden" name="cmd" value="_xclick" />
        <input type="hidden" name="business" value="jakir-facilitator-1@skylarksoft.com" />
        <input type="hidden" name="lc" value="CA" />
        <input type="hidden" name="item_name" value="Aggregated Item" />
        <input type="hidden" name="item_number" value="{{ settings.paypal.item_number }}" />
        <input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}" />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="hidden" name="no_note" value="1" />
        <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}" />
        <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}" />
        <input type="hidden" name="return" value="http://127.0.0.1:8080/#/thanks"/>
        <input type="hidden" name="cancel_return" value="http://127.0.0.1:8080/#/home"/>
        <input type="hidden" name="bn" value="BuyNow"/>
        <input type="hidden" name="hosted_button_id" value="5GCL67R39WXY4">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit"
               alt="PayPal - The safer, easier way to pay online!"/>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
    </form>

</div>