<div class="col-md-2 sky-cart-summery">
    <div class="btn btn-block btn-primary">
        <i class="icon-shopping-cart"></i>
        {{ ngCart.getTotalItems() }}
        <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
        <small>{{ ngCart.totalCost() | currency }}</small>
    </div>
</div>